/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

 h1, h2, h3, h4 {
   font-family: 'Roboto', sans-serif;
 }

.btn a {
  text-decoration: none !important;
}

/*a:link, a:visited, a:hover, a:active,  {
    text-decoration:none !important;
}*/

.ruby-link {
  color: white;
  text-decoration: none;
}

.btn {
   padding: 14px 24px;
   border: 0 none;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.btn-primary {
   background: #0099cc;
   color: #ffffff;
}

body {
  background-color: #ffffff ;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.post-image-container {
  float:none;
  display:inline-block;
  vertical-align:middle;
}
