<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to Vagaboombastic </h1>
    <p> Congratulations, you have signed up </p>

    <p>Now you can login!</p>
  </body>
</html>
