<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Hey <%= @first_name %>, it looks like you forgot your password? Um, seriously? </h2>
    <div>
        <img src="http://66.media.tumblr.com/d0c72bc90901ddef5b669fb7716305ba/tumblr_inline_mfgui5KZ7u1rrznpz.gif" >
  </div>
  <br />
  <br />
    <p>No worries. We got you. Return to the website <%= link_to "here", @url %> and use the following randomly generated password to login. Remember to change your password afterwards</p>
    <h2>Your new password: <%= @random_password %> </h2>
  </body>
</html>
