<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Vagabond</title>
  </head>
  <body>
    <h1> Congratulations <%= @user.first_name %>,</h1>
      <h5> You've successfully signed up for Vagabond!</h5>

    <p> What's next, you ask?</p>
    <p> Well, I think that's pretty obvious...</p>
    <h3>Click <%= link_to "here", @url %> to navigate to the site, DUH.</h3>
    <img src="https://media.giphy.com/media/tZF2erGJ5uOHe/giphy.gif">
  </body>
</html>
