/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

body {
  background-color: #ffffff ;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding-top: 60px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand>img {
   padding: 0px;
   height: 40px;
   width: 140px;
}
.navbar {
  height: 70px;
}
.navbar-nav {
  margin-top: 10px;
}

.btn a {
  text-decoration: none !important;
}

.ruby-link {
  color: white;
  text-decoration: none;
}

.btn {
   padding: 14px 24px;
   border: 0 none;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.btn-primary {
   color: #ffffff;
}

.post-image-container {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

.btn a {
  color:white;
}

.button-row {
  float:left;
  margin-right:10px;
}

.text-center {
  text-align: center !important;
}

.inline {
  display:inline !important;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 2vh;
}

.absolute-bottom-center {
  position: absolute;
  bottom: 0;
  margin-bottom: 2vh;
  left: 50%;
  margin-right: -50%;
}

.row {
  margin: 0 !important;
}
