// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-city-img {
  background-size: cover;
  background-position: center;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

.city-text {
  font-size: 15vh;
  font-family:'Cardo', serif;
  font-weight:bold;
}
