<h1><%= @city.name %></h1>

<div class="container">
  <img src="<%= @city.image %>" />
</div>

<% @city.posts.order("created_at desc").each do |post|  %>
  <h4><%= link_to "#{post.title}", "/posts/#{post.id}" %></h4>
<% end %>
